# Node
node_modules/
apps/api/dist/
apps/api/.env

# Prisma
apps/api/prisma/migrations/

# Android/Gradle
apps/mobile/.gradle/
apps/mobile/app/build/
apps/mobile/build/
apps/mobile/local.properties

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
