# Node
node_modules/
apps/api/dist/
apps/api/.env

# Android/Gradle
apps/mobile/.gradle/
apps/mobile/app/build/
apps/mobile/build/
apps/mobile/local.properties
apps/mobile/app/google-services.json

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
