services:
  - type: web
    name: wheels-on-go-api
    env: node
    plan: starter
    buildCommand: npm install && npm run prisma:generate && npm run build:api
    startCommand: npm run start:api
    autoDeploy: true
    envVars:
      - key: NODE_VERSION
        value: 18
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: PORT
        value: 3000
